In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
category = "ODO"
corrected_data = pd.read_csv("CorrectedData/LR_Mendon_AA_{0}_SourceID_1_QC_1.csv".format(category))

In [3]:
corrected_data.head()

,LocalDateTime,UTCOffset,DateTimeUTC,ODO,CensorCode,QualifierCode
0,2014-01-01 00:00:00,-7.0,2014-01-01 07:00:00,10.75,nc,NaN
1,2014-01-01 00:15:00,-7.0,2014-01-01 07:15:00,10.75,nc,NaN
2,2014-01-01 00:30:00,-7.0,2014-01-01 07:30:00,10.75,nc,NaN
3,2014-01-01 00:45:00,-7.0,2014-01-01 07:45:00,10.73,nc,NaN
4,2014-01-01 01:00:00,-7.0,2014-01-01 08:00:00,10.74,nc,NaN

In [11]:
qc = corrected_data["QualifierCode"].unique()

In [12]:
for i in qc: 
    print("QualifierCode",i)
    error_data = corrected_data[corrected_data["QualifierCode"] == i]
    print(error_data.describe())

QualifierCode nan
       UTCOffset  ODO
count        0.0  0.0
mean         NaN  NaN
std          NaN  NaN
min          NaN  NaN
25%          NaN  NaN
50%          NaN  NaN
75%          NaN  NaN
max          NaN  NaN
QualifierCode LI
       UTCOffset          ODO
count     1824.0  1824.000000
mean        -7.0     9.359894
std          0.0     0.846891
min         -7.0     5.598333
25%         -7.0     8.880000
50%         -7.0     9.250000
75%         -7.0     9.690000
max         -7.0    13.727191
QualifierCode SM
       UTCOffset          ODO
count     1105.0  1105.000000
mean        -7.0 -9989.940783
std          0.0   301.142333
min         -7.0 -9999.000000
25%         -7.0 -9999.000000
50%         -7.0 -9999.000000
75%         -7.0 -9999.000000
max         -7.0    11.435000
QualifierCode MNT
       UTCOffset          ODO
count       43.0    43.000000
mean        -7.0 -2550.639070
std          0.0  4418.670829
min         -7.0 -9999.000000
25%         -7.0 -4994.808636
50%         -7.0     9.610000
75%         -7.0     9.848636
max         -7.0    10.087273
QualifierCode SED
       UTCOffset     ODO
count     1041.0  1041.0
mean        -7.0 -9999.0
std          0.0     0.0
min         -7.0 -9999.0
25%         -7.0 -9999.0
50%         -7.0 -9999.0
75%         -7.0 -9999.0
max         -7.0 -9999.0
QualifierCode CAL
       UTCOffset          ODO
count     2582.0  2582.000000
mean        -7.0    11.369759
std          0.0     0.786535
min         -7.0     9.787039
25%         -7.0    10.801132
50%         -7.0    11.354252
75%         -7.0    11.880921
max         -7.0    13.275380
QualifierCode PF
       UTCOffset     ODO
count     3259.0  3259.0
mean        -7.0 -9999.0
std          0.0     0.0
min         -7.0 -9999.0
25%         -7.0 -9999.0
50%         -7.0 -9999.0
75%         -7.0 -9999.0
max         -7.0 -9999.0
QualifierCode S
       UTCOffset          ODO
count     1006.0  1006.000000
mean        -7.0     9.922435
std          0.0     0.589876
min         -7.0     8.860000
25%         -7.0     9.460000
50%         -7.0     9.840000
75%         -7.0    10.287500
max         -7.0    11.540000

In [18]:
error_data = corrected_data[corrected_data["QualifierCode"].notnull()]

In [19]:
error_data

,LocalDateTime,UTCOffset,DateTimeUTC,ODO,CensorCode,QualifierCode
9484,2014-04-09 19:00:00,-7.0,2014-04-10 02:00:00,8.88,nc,LI
9485,2014-04-09 19:15:00,-7.0,2014-04-10 02:15:00,8.73,nc,LI
9486,2014-04-09 19:30:00,-7.0,2014-04-10 02:30:00,8.78,nc,LI
9487,2014-04-09 19:45:00,-7.0,2014-04-10 02:45:00,8.70,nc,LI
9488,2014-04-09 20:00:00,-7.0,2014-04-10 03:00:00,8.65,nc,LI
...,...,...,...,...,...,...
185533,2019-04-17 15:15:00,-7.0,2019-04-17 22:15:00,-9999.00,nc,SM
185534,2019-04-17 15:30:00,-7.0,2019-04-17 22:30:00,-9999.00,nc,SM
185535,2019-04-17 15:45:00,-7.0,2019-04-17 22:45:00,-9999.00,nc,SM
185536,2019-04-17 16:00:00,-7.0,2019-04-17 23:00:00,-9999.00,nc,SM
185537,2019-04-17 16:15:00,-7.0,2019-04-17 23:15:00,-9999.00,nc,SM

In [15]:
year = "2017"
raw_data = pd.read_csv("RawData/LR_Mendon_AA_SourceID_1_QC_0_Year_{0}.csv".format(year))

In [16]:
print("current dataset {0} {1}".format(category, year))
s_corr =corrected_data[(corrected_data["LocalDateTime"] >= year + "-01-01 00:00:00") & \
    (corrected_data["LocalDateTime"] <= year + "-12-31 23:59:59")]
s_raw = raw_data[["LocalDateTime",category]]

current dataset ODO 2017

In [17]:
qc = s_corr["QualifierCode"].unique()
for i in qc: 
    print("QualifierCode",i)
    error_data = s_corr[s_corr["QualifierCode"] == i]
    print(error_data.describe())

QualifierCode nan
       UTCOffset  ODO
count        0.0  0.0
mean         NaN  NaN
std          NaN  NaN
min          NaN  NaN
25%          NaN  NaN
50%          NaN  NaN
75%          NaN  NaN
max          NaN  NaN
QualifierCode LI
       UTCOffset        ODO
count       38.0  38.000000
mean        -7.0  10.375789
std          0.0   0.756995
min         -7.0   8.480000
25%         -7.0   9.966250
50%         -7.0  10.508750
75%         -7.0  10.940625
max         -7.0  11.655000
QualifierCode MNT
       UTCOffset     ODO
count        7.0     7.0
mean        -7.0 -9999.0
std          0.0     0.0
min         -7.0 -9999.0
25%         -7.0 -9999.0
50%         -7.0 -9999.0
75%         -7.0 -9999.0
max         -7.0 -9999.0

In [20]:
error_data = s_corr[s_corr["QualifierCode"].notnull()]

In [21]:
error_data

,LocalDateTime,UTCOffset,DateTimeUTC,ODO,CensorCode,QualifierCode
105312,2017-01-02 00:00:00,-7.0,2017-01-02 00:00:00,11.065000,nc,LI
105984,2017-01-09 00:00:00,-7.0,2017-01-09 00:00:00,10.935000,nc,LI
106599,2017-01-15 09:45:00,-7.0,2017-01-15 16:45:00,11.332500,nc,LI
106600,2017-01-15 10:00:00,-7.0,2017-01-15 17:00:00,11.385000,nc,LI
106601,2017-01-15 10:15:00,-7.0,2017-01-15 17:15:00,11.437500,nc,LI
106656,2017-01-16 00:00:00,-7.0,2017-01-16 00:00:00,11.355000,nc,LI
107328,2017-01-23 00:00:00,-7.0,2017-01-23 00:00:00,10.445000,nc,LI
108000,2017-01-30 00:00:00,-7.0,2017-01-30 00:00:00,11.655000,nc,LI
108672,2017-02-06 00:00:00,-7.0,2017-02-06 00:00:00,9.505000,nc,LI
109101,2017-02-10 11:15:00,-7.0,2017-02-10 11:15:00,10.030000,nc,LI
109196,2017-02-11 11:00:00,-7.0,2017-02-11 18:00:00,10.512500,nc,LI
109197,2017-02-11 11:15:00,-7.0,2017-02-11 18:15:00,10.515000,nc,LI
109198,2017-02-11 11:30:00,-7.0,2017-02-11 18:30:00,10.517500,nc,LI
109344,2017-02-13 00:00:00,-7.0,2017-02-13 00:00:00,10.695000,nc,LI
109506,2017-02-14 16:30:00,-7.0,2017-02-14 23:30:00,10.987500,nc,LI
109507,2017-02-14 16:45:00,-7.0,2017-02-14 23:45:00,10.965000,nc,LI
109508,2017-02-14 17:00:00,-7.0,2017-02-15 00:00:00,10.942500,nc,LI
110016,2017-02-20 00:00:00,-7.0,2017-02-20 00:00:00,9.830000,nc,LI
110688,2017-02-27 00:00:00,-7.0,2017-02-27 00:00:00,10.515000,nc,LI
111360,2017-03-06 00:00:00,-7.0,2017-03-06 00:00:00,10.130000,nc,LI
111700,2017-03-09 13:00:00,-7.0,2017-03-09 20:00:00,10.852000,nc,LI
111701,2017-03-09 13:15:00,-7.0,2017-03-09 20:15:00,10.884000,nc,LI
111702,2017-03-09 13:30:00,-7.0,2017-03-09 20:30:00,10.916000,nc,LI
111703,2017-03-09 13:45:00,-7.0,2017-03-09 20:45:00,10.948000,nc,LI
112032,2017-03-13 00:00:00,-7.0,2017-03-13 00:00:00,9.835000,nc,LI
112550,2017-03-18 09:30:00,-7.0,2017-03-18 16:30:00,10.220000,nc,LI
112551,2017-03-18 09:45:00,-7.0,2017-03-18 16:45:00,10.230000,nc,LI
112704,2017-03-20 00:00:00,-7.0,2017-03-20 00:00:00,9.430000,nc,LI
115639,2017-04-19 13:45:00,-7.0,2017-04-19 20:45:00,10.505000,nc,LI
119577,2017-05-30 14:15:00,-7.0,2017-05-30 21:15:00,10.166667,nc,LI
119578,2017-05-30 14:30:00,-7.0,2017-05-30 21:30:00,10.113333,nc,LI
121109,2017-06-15 13:15:00,-7.0,2017-06-15 13:15:00,9.945000,nc,LI
122357,2017-06-28 13:15:00,-7.0,2017-06-28 20:15:00,9.510000,nc,LI
122358,2017-06-28 13:30:00,-7.0,2017-06-28 20:30:00,9.470000,nc,LI
124470,2017-07-20 13:30:00,-7.0,2017-07-20 20:30:00,8.935000,nc,LI
124475,2017-07-20 14:45:00,-7.0,2017-07-20 21:45:00,8.830000,nc,LI
124939,2017-07-25 10:45:00,-7.0,2017-07-25 10:45:00,8.480000,nc,LI
128310,2017-08-29 13:30:00,-7.0,2017-08-29 20:30:00,-9999.000000,nc,MNT
128311,2017-08-29 13:45:00,-7.0,2017-08-29 20:45:00,-9999.000000,nc,MNT
128312,2017-08-29 14:00:00,-7.0,2017-08-29 21:00:00,-9999.000000,nc,MNT
128313,2017-08-29 14:15:00,-7.0,2017-08-29 21:15:00,-9999.000000,nc,MNT
128314,2017-08-29 14:30:00,-7.0,2017-08-29 21:30:00,-9999.000000,nc,MNT
128315,2017-08-29 14:45:00,-7.0,2017-08-29 21:45:00,-9999.000000,nc,MNT
128316,2017-08-29 15:00:00,-7.0,2017-08-29 22:00:00,-9999.000000,nc,MNT
130995,2017-09-26 12:45:00,-7.0,2017-09-26 19:45:00,10.255000,nc,LI